:root {
  --font-title-title1-fontSize: 14px;
  --font-title-title1-textDecoration: none;
  --font-title-title1-fontFamily: Wanted Sans Variable;
  --font-title-title1-fontWeight: 700px;
  --font-title-title1-fontStyle: normal;
  --font-title-title1-fontStretch: normal;
  --font-title-title1-letterSpacing: 0px;
  --font-title-title1-lineHeight: 20px;
  --font-title-title1-paragraphIndent: 0px;
  --font-title-title1-paragraphSpacing: 0px;
  --font-title-title1-textCase: none;
  --font-title-title-fontSize: 18px;
  --font-title-title-textDecoration: none;
  --font-title-title-fontFamily: Wanted Sans Variable;
  --font-title-title-fontWeight: 700px;
  --font-title-title-fontStyle: normal;
  --font-title-title-fontStretch: normal;
  --font-title-title-letterSpacing: 0px;
  --font-title-title-lineHeight: 22px;
  --font-title-title-paragraphIndent: 0px;
  --font-title-title-paragraphSpacing: 0px;
  --font-title-title-textCase: none;
  --font-title-shinhantitle1-fontSize: 20px;
  --font-title-shinhantitle1-textDecoration: none;
  --font-title-shinhantitle1-fontFamily: OneShinhan;
  --font-title-shinhantitle1-fontWeight: 700px;
  --font-title-shinhantitle1-fontStyle: normal;
  --font-title-shinhantitle1-fontStretch: normal;
  --font-title-shinhantitle1-letterSpacing: 0px;
  --font-title-shinhantitle1-lineHeight: 20px;
  --font-title-shinhantitle1-paragraphIndent: 0px;
  --font-title-shinhantitle1-paragraphSpacing: 0px;
  --font-title-shinhantitle1-textCase: none;
  --font-title-shinhantitle2-fontSize: 18px;
  --font-title-shinhantitle2-textDecoration: none;
  --font-title-shinhantitle2-fontFamily: OneShinhan;
  --font-title-shinhantitle2-fontWeight: 700px;
  --font-title-shinhantitle2-fontStyle: normal;
  --font-title-shinhantitle2-fontStretch: normal;
  --font-title-shinhantitle2-letterSpacing: 0px;
  --font-title-shinhantitle2-lineHeight: 22px;
  --font-title-shinhantitle2-paragraphIndent: 0px;
  --font-title-shinhantitle2-paragraphSpacing: 0px;
  --font-title-shinhantitle2-textCase: none;
  --font-body-body1-fontSize: 24px;
  --font-body-body1-textDecoration: none;
  --font-body-body1-fontFamily: Wanted Sans Variable;
  --font-body-body1-fontWeight: 400px;
  --font-body-body1-fontStyle: normal;
  --font-body-body1-fontStretch: normal;
  --font-body-body1-letterSpacing: 0px;
  --font-body-body1-lineHeight: 29px;
  --font-body-body1-paragraphIndent: 0px;
  --font-body-body1-paragraphSpacing: 0px;
  --font-body-body1-textCase: none;
  --font-body-body2-fontSize: 20px;
  --font-body-body2-textDecoration: none;
  --font-body-body2-fontFamily: Wanted Sans Variable;
  --font-body-body2-fontWeight: 400px;
  --font-body-body2-fontStyle: normal;
  --font-body-body2-fontStretch: normal;
  --font-body-body2-letterSpacing: 0px;
  --font-body-body2-lineHeight: 24px;
  --font-body-body2-paragraphIndent: 0px;
  --font-body-body2-paragraphSpacing: 0px;
  --font-body-body2-textCase: none;
  --font-body-body3-fontSize: 18px;
  --font-body-body3-textDecoration: none;
  --font-body-body3-fontFamily: Wanted Sans Variable;
  --font-body-body3-fontWeight: 700px;
  --font-body-body3-fontStyle: normal;
  --font-body-body3-fontStretch: normal;
  --font-body-body3-letterSpacing: 0px;
  --font-body-body3-lineHeight: 22px;
  --font-body-body3-paragraphIndent: 0px;
  --font-body-body3-paragraphSpacing: 0px;
  --font-body-body3-textCase: none;
  --font-body-body4-fontSize: 18px;
  --font-body-body4-textDecoration: none;
  --font-body-body4-fontFamily: Wanted Sans Variable;
  --font-body-body4-fontWeight: 400px;
  --font-body-body4-fontStyle: normal;
  --font-body-body4-fontStretch: normal;
  --font-body-body4-letterSpacing: 0px;
  --font-body-body4-lineHeight: 24px;
  --font-body-body4-paragraphIndent: 0px;
  --font-body-body4-paragraphSpacing: 0px;
  --font-body-body4-textCase: none;
  --font-body-body5-fontSize: 16px;
  --font-body-body5-textDecoration: none;
  --font-body-body5-fontFamily: Wanted Sans Variable;
  --font-body-body5-fontWeight: 600px;
  --font-body-body5-fontStyle: normal;
  --font-body-body5-fontStretch: normal;
  --font-body-body5-letterSpacing: 0px;
  --font-body-body5-lineHeight: 22px;
  --font-body-body5-paragraphIndent: 0px;
  --font-body-body5-paragraphSpacing: 0px;
  --font-body-body5-textCase: none;
  --font-body-body6-fontSize: 16px;
  --font-body-body6-textDecoration: none;
  --font-body-body6-fontFamily: Wanted Sans Variable;
  --font-body-body6-fontWeight: 400px;
  --font-body-body6-fontStyle: normal;
  --font-body-body6-fontStretch: normal;
  --font-body-body6-letterSpacing: 0px;
  --font-body-body6-lineHeight: 22px;
  --font-body-body6-paragraphIndent: 0px;
  --font-body-body6-paragraphSpacing: 0px;
  --font-body-body6-textCase: none;
  --font-body-body7-fontSize: 14px;
  --font-body-body7-textDecoration: none;
  --font-body-body7-fontFamily: Wanted Sans Variable;
  --font-body-body7-fontWeight: 600px;
  --font-body-body7-fontStyle: normal;
  --font-body-body7-fontStretch: normal;
  --font-body-body7-letterSpacing: 0px;
  --font-body-body7-lineHeight: 20px;
  --font-body-body7-paragraphIndent: 0px;
  --font-body-body7-paragraphSpacing: 0px;
  --font-body-body7-textCase: none;
  --font-body-body8-fontSize: 14px;
  --font-body-body8-textDecoration: none;
  --font-body-body8-fontFamily: Wanted Sans Variable;
  --font-body-body8-fontWeight: 400px;
  --font-body-body8-fontStyle: normal;
  --font-body-body8-fontStretch: normal;
  --font-body-body8-letterSpacing: 0px;
  --font-body-body8-lineHeight: 20px;
  --font-body-body8-paragraphIndent: 0px;
  --font-body-body8-paragraphSpacing: 0px;
  --font-body-body8-textCase: none;
  --font-body-body9-fontSize: 12px;
  --font-body-body9-textDecoration: none;
  --font-body-body9-fontFamily: Wanted Sans Variable;
  --font-body-body9-fontWeight: 600px;
  --font-body-body9-fontStyle: normal;
  --font-body-body9-fontStretch: normal;
  --font-body-body9-letterSpacing: 0px;
  --font-body-body9-lineHeight: 18px;
  --font-body-body9-paragraphIndent: 0px;
  --font-body-body9-paragraphSpacing: 0px;
  --font-body-body9-textCase: none;
  --font-body-body10-fontSize: 12px;
  --font-body-body10-textDecoration: none;
  --font-body-body10-fontFamily: Wanted Sans Variable;
  --font-body-body10-fontWeight: 400px;
  --font-body-body10-fontStyle: normal;
  --font-body-body10-fontStretch: normal;
  --font-body-body10-letterSpacing: 0px;
  --font-body-body10-lineHeight: 18px;
  --font-body-body10-paragraphIndent: 0px;
  --font-body-body10-paragraphSpacing: 0px;
  --font-body-body10-textCase: none;
  --font-caption-caption1-fontSize: 10px;
  --font-caption-caption1-textDecoration: none;
  --font-caption-caption1-fontFamily: Wanted Sans Variable;
  --font-caption-caption1-fontWeight: 400px;
  --font-caption-caption1-fontStyle: normal;
  --font-caption-caption1-fontStretch: normal;
  --font-caption-caption1-letterSpacing: 0px;
  --font-caption-caption1-lineHeight: 11px;
  --font-caption-caption1-paragraphIndent: 0px;
  --font-caption-caption1-paragraphSpacing: 0px;
  --font-caption-caption1-textCase: none;
  --font-caption-caption2-fontSize: 14px;
  --font-caption-caption2-textDecoration: none;
  --font-caption-caption2-fontFamily: Wanted Sans Variable;
  --font-caption-caption2-fontWeight: 400px;
  --font-caption-caption2-fontStyle: normal;
  --font-caption-caption2-fontStretch: normal;
  --font-caption-caption2-letterSpacing: 0px;
  --font-caption-caption2-lineHeight: 20px;
  --font-caption-caption2-paragraphIndent: 0px;
  --font-caption-caption2-paragraphSpacing: 0px;
  --font-caption-caption2-textCase: none;
  --font-caption-caption3-fontSize: 12px;
  --font-caption-caption3-textDecoration: none;
  --font-caption-caption3-fontFamily: Wanted Sans Variable;
  --font-caption-caption3-fontWeight: 600px;
  --font-caption-caption3-fontStyle: normal;
  --font-caption-caption3-fontStretch: normal;
  --font-caption-caption3-letterSpacing: 0px;
  --font-caption-caption3-lineHeight: 14px;
  --font-caption-caption3-paragraphIndent: 0px;
  --font-caption-caption3-paragraphSpacing: 0px;
  --font-caption-caption3-textCase: none;
  --font-caption-caption4-fontSize: 12px;
  --font-caption-caption4-textDecoration: none;
  --font-caption-caption4-fontFamily: Wanted Sans Variable;
  --font-caption-caption4-fontWeight: 400px;
  --font-caption-caption4-fontStyle: normal;
  --font-caption-caption4-fontStretch: normal;
  --font-caption-caption4-letterSpacing: 0px;
  --font-caption-caption4-lineHeight: 14px;
  --font-caption-caption4-paragraphIndent: 0px;
  --font-caption-caption4-paragraphSpacing: 0px;
  --font-caption-caption4-textCase: none;
  --font-caption-caption5-fontSize: 10px;
  --font-caption-caption5-textDecoration: none;
  --font-caption-caption5-fontFamily: Wanted Sans Variable;
  --font-caption-caption5-fontWeight: 600px;
  --font-caption-caption5-fontStyle: normal;
  --font-caption-caption5-fontStretch: normal;
  --font-caption-caption5-letterSpacing: 0px;
  --font-caption-caption5-lineHeight: 11px;
  --font-caption-caption5-paragraphIndent: 0px;
  --font-caption-caption5-paragraphSpacing: 0px;
  --font-caption-caption5-textCase: none;
  --color-greyscale-2: #f2f3f5ff;
  --color-greyscale-3: #eaecf1ff;
  --color-greyscale-4: #e0e3edff;
  --color-greyscale-5: #d5d9e4ff;
  --color-greyscale-6: #cbd0ddff;
  --color-greyscale-7: #aeb5c8ff;
  --color-greyscale-8: #9097acff;
  --color-greyscale-9: #656a7aff;
  --color-greyscale-10: #494d5aff;
  --color-greyscale-11: #2c303dff;
  --color-greyscale-1(white): #ffffffff;
  --color-greyscale-12(black): #000000ff;
  --color-primary-light: #4b7cffff;
  --color-primary-normal: #0046ffff;
  --color-primary-dark: #0037c8ff;
  --color-state-error: #ef4444ff;
  --color-state-success: #10b981ff;
  --color-state-warning: #f59e0bff;
  --typography-size-xxs: 10px;
  --typography-size-xs: 12px;
  --typography-size-sm: 14px;
  --typography-size-md: 16px;
  --typography-size-lg: 18px;
  --typography-size-xl: 20px;
  --typography-size-xxl: 24px;
  --typography-size-xxxl: 28px;
  --typography-size-xxxxl: 48px;
  --typography-weight-400: Regular;
  --typography-weight-500: Medium;
  --typography-weight-600: SemiBold;
  --typography-weight-700: Bold;
  --typography-wanted sans variable: Wanted Sans Variable;
  --typography-oneshinhan: OneShinhan;
  --typography-spacing-0%: 0px;
  --typography-spacing--1%: -0.17px;
  --typography-spacing--2%: -0.32px;
  --typography-spacing--3%: -0.49px;
  --typography-spacing--4%: -0.64px;
  --typography-height-11: 11px;
  --typography-height-14: 14px;
  --typography-height-16: 16px;
  --typography-height-18: 18px;
  --typography-height-20: 20px;
  --typography-height-22: 22px;
  --typography-height-24: 24px;
  --typography-height-29: 29px;
  --typography-height-54: 54px;
  --typography-title-title1-fontSize: 14px;
  --typography-title-title1-textDecoration: none;
  --typography-title-title1-fontFamily: Wanted Sans Variable;
  --typography-title-title1-fontWeight: 700;
  --typography-title-title1-fontStyle: normal;
  --typography-title-title1-fontStretch: normal;
  --typography-title-title1-letterSpacing: 0px;
  --typography-title-title1-lineHeight: 20px;
  --typography-title-title1-paragraphIndent: 0px;
  --typography-title-title1-paragraphSpacing: 0px;
  --typography-title-title1-textCase: none;
  --typography-title-title-fontSize: 18px;
  --typography-title-title-textDecoration: none;
  --typography-title-title-fontFamily: Wanted Sans Variable;
  --typography-title-title-fontWeight: 700;
  --typography-title-title-fontStyle: normal;
  --typography-title-title-fontStretch: normal;
  --typography-title-title-letterSpacing: 0px;
  --typography-title-title-lineHeight: 22px;
  --typography-title-title-paragraphIndent: 0px;
  --typography-title-title-paragraphSpacing: 0px;
  --typography-title-title-textCase: none;
  --typography-title-shinhantitle1-fontSize: 20px;
  --typography-title-shinhantitle1-textDecoration: none;
  --typography-title-shinhantitle1-fontFamily: OneShinhan;
  --typography-title-shinhantitle1-fontWeight: 700;
  --typography-title-shinhantitle1-fontStyle: normal;
  --typography-title-shinhantitle1-fontStretch: normal;
  --typography-title-shinhantitle1-letterSpacing: 0px;
  --typography-title-shinhantitle1-lineHeight: 20px;
  --typography-title-shinhantitle1-paragraphIndent: 0px;
  --typography-title-shinhantitle1-paragraphSpacing: 0px;
  --typography-title-shinhantitle1-textCase: none;
  --typography-title-shinhantitle2-fontSize: 18px;
  --typography-title-shinhantitle2-textDecoration: none;
  --typography-title-shinhantitle2-fontFamily: OneShinhan;
  --typography-title-shinhantitle2-fontWeight: 700;
  --typography-title-shinhantitle2-fontStyle: normal;
  --typography-title-shinhantitle2-fontStretch: normal;
  --typography-title-shinhantitle2-letterSpacing: 0px;
  --typography-title-shinhantitle2-lineHeight: 22px;
  --typography-title-shinhantitle2-paragraphIndent: 0px;
  --typography-title-shinhantitle2-paragraphSpacing: 0px;
  --typography-title-shinhantitle2-textCase: none;
  --typography-body-body1-fontSize: 24px;
  --typography-body-body1-textDecoration: none;
  --typography-body-body1-fontFamily: Wanted Sans Variable;
  --typography-body-body1-fontWeight: 400;
  --typography-body-body1-fontStyle: normal;
  --typography-body-body1-fontStretch: normal;
  --typography-body-body1-letterSpacing: 0px;
  --typography-body-body1-lineHeight: 29px;
  --typography-body-body1-paragraphIndent: 0px;
  --typography-body-body1-paragraphSpacing: 0px;
  --typography-body-body1-textCase: none;
  --typography-body-body2-fontSize: 20px;
  --typography-body-body2-textDecoration: none;
  --typography-body-body2-fontFamily: Wanted Sans Variable;
  --typography-body-body2-fontWeight: 400;
  --typography-body-body2-fontStyle: normal;
  --typography-body-body2-fontStretch: normal;
  --typography-body-body2-letterSpacing: 0px;
  --typography-body-body2-lineHeight: 24px;
  --typography-body-body2-paragraphIndent: 0px;
  --typography-body-body2-paragraphSpacing: 0px;
  --typography-body-body2-textCase: none;
  --typography-body-body3-fontSize: 18px;
  --typography-body-body3-textDecoration: none;
  --typography-body-body3-fontFamily: Wanted Sans Variable;
  --typography-body-body3-fontWeight: 700;
  --typography-body-body3-fontStyle: normal;
  --typography-body-body3-fontStretch: normal;
  --typography-body-body3-letterSpacing: 0px;
  --typography-body-body3-lineHeight: 22px;
  --typography-body-body3-paragraphIndent: 0px;
  --typography-body-body3-paragraphSpacing: 0px;
  --typography-body-body3-textCase: none;
  --typography-body-body4-fontSize: 18px;
  --typography-body-body4-textDecoration: none;
  --typography-body-body4-fontFamily: Wanted Sans Variable;
  --typography-body-body4-fontWeight: 400;
  --typography-body-body4-fontStyle: normal;
  --typography-body-body4-fontStretch: normal;
  --typography-body-body4-letterSpacing: 0px;
  --typography-body-body4-lineHeight: 24px;
  --typography-body-body4-paragraphIndent: 0px;
  --typography-body-body4-paragraphSpacing: 0px;
  --typography-body-body4-textCase: none;
  --typography-body-body5-fontSize: 16px;
  --typography-body-body5-textDecoration: none;
  --typography-body-body5-fontFamily: Wanted Sans Variable;
  --typography-body-body5-fontWeight: 600;
  --typography-body-body5-fontStyle: normal;
  --typography-body-body5-fontStretch: normal;
  --typography-body-body5-letterSpacing: 0px;
  --typography-body-body5-lineHeight: 22px;
  --typography-body-body5-paragraphIndent: 0px;
  --typography-body-body5-paragraphSpacing: 0px;
  --typography-body-body5-textCase: none;
  --typography-body-body6-fontSize: 16px;
  --typography-body-body6-textDecoration: none;
  --typography-body-body6-fontFamily: Wanted Sans Variable;
  --typography-body-body6-fontWeight: 400;
  --typography-body-body6-fontStyle: normal;
  --typography-body-body6-fontStretch: normal;
  --typography-body-body6-letterSpacing: 0px;
  --typography-body-body6-lineHeight: 22px;
  --typography-body-body6-paragraphIndent: 0px;
  --typography-body-body6-paragraphSpacing: 0px;
  --typography-body-body6-textCase: none;
  --typography-body-body7-fontSize: 14px;
  --typography-body-body7-textDecoration: none;
  --typography-body-body7-fontFamily: Wanted Sans Variable;
  --typography-body-body7-fontWeight: 600;
  --typography-body-body7-fontStyle: normal;
  --typography-body-body7-fontStretch: normal;
  --typography-body-body7-letterSpacing: 0px;
  --typography-body-body7-lineHeight: 20px;
  --typography-body-body7-paragraphIndent: 0px;
  --typography-body-body7-paragraphSpacing: 0px;
  --typography-body-body7-textCase: none;
  --typography-body-body8-fontSize: 14px;
  --typography-body-body8-textDecoration: none;
  --typography-body-body8-fontFamily: Wanted Sans Variable;
  --typography-body-body8-fontWeight: 400;
  --typography-body-body8-fontStyle: normal;
  --typography-body-body8-fontStretch: normal;
  --typography-body-body8-letterSpacing: 0px;
  --typography-body-body8-lineHeight: 20px;
  --typography-body-body8-paragraphIndent: 0px;
  --typography-body-body8-paragraphSpacing: 0px;
  --typography-body-body8-textCase: none;
  --typography-body-body9-fontSize: 12px;
  --typography-body-body9-textDecoration: none;
  --typography-body-body9-fontFamily: Wanted Sans Variable;
  --typography-body-body9-fontWeight: 600;
  --typography-body-body9-fontStyle: normal;
  --typography-body-body9-fontStretch: normal;
  --typography-body-body9-letterSpacing: 0px;
  --typography-body-body9-lineHeight: 18px;
  --typography-body-body9-paragraphIndent: 0px;
  --typography-body-body9-paragraphSpacing: 0px;
  --typography-body-body9-textCase: none;
  --typography-body-body10-fontSize: 12px;
  --typography-body-body10-textDecoration: none;
  --typography-body-body10-fontFamily: Wanted Sans Variable;
  --typography-body-body10-fontWeight: 400;
  --typography-body-body10-fontStyle: normal;
  --typography-body-body10-fontStretch: normal;
  --typography-body-body10-letterSpacing: 0px;
  --typography-body-body10-lineHeight: 18px;
  --typography-body-body10-paragraphIndent: 0px;
  --typography-body-body10-paragraphSpacing: 0px;
  --typography-body-body10-textCase: none;
  --typography-caption-caption1-fontSize: 10px;
  --typography-caption-caption1-textDecoration: none;
  --typography-caption-caption1-fontFamily: Wanted Sans Variable;
  --typography-caption-caption1-fontWeight: 400;
  --typography-caption-caption1-fontStyle: normal;
  --typography-caption-caption1-fontStretch: normal;
  --typography-caption-caption1-letterSpacing: 0px;
  --typography-caption-caption1-lineHeight: 11px;
  --typography-caption-caption1-paragraphIndent: 0px;
  --typography-caption-caption1-paragraphSpacing: 0px;
  --typography-caption-caption1-textCase: none;
  --typography-caption-caption2-fontSize: 14px;
  --typography-caption-caption2-textDecoration: none;
  --typography-caption-caption2-fontFamily: Wanted Sans Variable;
  --typography-caption-caption2-fontWeight: 400;
  --typography-caption-caption2-fontStyle: normal;
  --typography-caption-caption2-fontStretch: normal;
  --typography-caption-caption2-letterSpacing: 0px;
  --typography-caption-caption2-lineHeight: 20px;
  --typography-caption-caption2-paragraphIndent: 0px;
  --typography-caption-caption2-paragraphSpacing: 0px;
  --typography-caption-caption2-textCase: none;
  --typography-caption-caption3-fontSize: 12px;
  --typography-caption-caption3-textDecoration: none;
  --typography-caption-caption3-fontFamily: Wanted Sans Variable;
  --typography-caption-caption3-fontWeight: 600;
  --typography-caption-caption3-fontStyle: normal;
  --typography-caption-caption3-fontStretch: normal;
  --typography-caption-caption3-letterSpacing: 0px;
  --typography-caption-caption3-lineHeight: 14px;
  --typography-caption-caption3-paragraphIndent: 0px;
  --typography-caption-caption3-paragraphSpacing: 0px;
  --typography-caption-caption3-textCase: none;
  --typography-caption-caption4-fontSize: 12px;
  --typography-caption-caption4-textDecoration: none;
  --typography-caption-caption4-fontFamily: Wanted Sans Variable;
  --typography-caption-caption4-fontWeight: 400;
  --typography-caption-caption4-fontStyle: normal;
  --typography-caption-caption4-fontStretch: normal;
  --typography-caption-caption4-letterSpacing: 0px;
  --typography-caption-caption4-lineHeight: 14px;
  --typography-caption-caption4-paragraphIndent: 0px;
  --typography-caption-caption4-paragraphSpacing: 0px;
  --typography-caption-caption4-textCase: none;
  --typography-caption-caption5-fontSize: 10px;
  --typography-caption-caption5-textDecoration: none;
  --typography-caption-caption5-fontFamily: Wanted Sans Variable;
  --typography-caption-caption5-fontWeight: 600;
  --typography-caption-caption5-fontStyle: normal;
  --typography-caption-caption5-fontStretch: normal;
  --typography-caption-caption5-letterSpacing: 0px;
  --typography-caption-caption5-lineHeight: 11px;
  --typography-caption-caption5-paragraphIndent: 0px;
  --typography-caption-caption5-paragraphSpacing: 0px;
  --typography-caption-caption5-textCase: none;
  --scheme-opacity-30: 30px;
  --scheme-opacity-50: 50px;
  --scheme-opacity-100: 100px;
  --scheme-unit-0: 0px;
  --scheme-unit-1: 1px;
  --scheme-unit-2: 2px;
  --scheme-unit-3: 3px;
  --scheme-unit-4: 4px;
  --scheme-unit-5: 5px;
  --scheme-unit-6: 6px;
  --scheme-unit-7: 7px;
  --scheme-unit-8: 8px;
  --scheme-unit-9: 9px;
  --scheme-unit-10: 10px;
  --scheme-unit-12: 12px;
  --scheme-unit-14: 14px;
  --scheme-unit-16: 16px;
  --scheme-unit-18: 18px;
  --scheme-unit-20: 20px;
  --scheme-unit-24: 24px;
  --scheme-unit-28: 28px;
  --scheme-unit-32: 32px;
  --scheme-unit-40: 40px;
  --scheme-unit-48: 48px;
  --scheme-unit--5: -5px;
  --scheme-unit--4: -4px;
  --scheme-unit--3: -3px;
  --scheme-unit--2: -2px;
  --scheme-unit--1: -1px;
  --scheme-unit-0-1: 0.5px;
  --scheme-unit-1-1: 1.2px;
  --scheme-unit-1-2: 1.5px;
  --scheme-spacing-1: var(--scheme-unit-0);
  --scheme-spacing-2: var(--scheme-unit-1);
  --scheme-spacing-3: var(--scheme-unit-2);
  --scheme-spacing-4: var(--scheme-unit-3);
  --scheme-spacing-5: var(--scheme-unit-4);
  --scheme-spacing-6: var(--scheme-unit-5);
  --scheme-spacing-7: var(--scheme-unit-6);
  --scheme-spacing-8: var(--scheme-unit-8);
  --scheme-spacing-9: var(--scheme-unit-9);
  --scheme-spacing-10: var(--scheme-unit-10);
  --scheme-spacing-11: var(--scheme-unit-12);
  --scheme-spacing-12: var(--scheme-unit-14);
  --scheme-spacing-13: var(--scheme-unit-16);
  --scheme-spacing-14: var(--scheme-unit-18);
  --scheme-spacing-15: var(--scheme-unit-20);
  --scheme-spacing-16: var(--scheme-unit-24);
  --scheme-spacing-17: var(--scheme-unit-28);
  --scheme-spacing-18: var(--scheme-unit-32);
  --scheme-spacing-19: var(--scheme-unit-40);
  --scheme-spacing-20: var(--scheme-unit-48);
  --scheme-radius-1: var(--scheme-unit-0);
  --scheme-radius-2: var(--scheme-unit-2);
  --scheme-radius-3: var(--scheme-unit-4);
  --scheme-radius-4: var(--scheme-unit-6);
  --scheme-radius-5: var(--scheme-unit-8);
  --scheme-radius-6: var(--scheme-unit-12);
  --scheme-radius-7: var(--scheme-unit-16);
  --scheme-radius-8: var(--scheme-unit-24);
  --scheme-radius-max: 9999px;
  --scheme-margin-xxs: var(--scheme-unit-4);
  --scheme-margin-xs: var(--scheme-unit-8);
  --scheme-margin-sm: var(--scheme-unit-12);
  --scheme-margin-md: var(--scheme-unit-16);
  --scheme-margin-lg: var(--scheme-unit-20);
  --scheme-margin-xl: var(--scheme-unit-24);
  --scheme-margin-xxl: var(--scheme-unit-28);
  --scheme-margin-xxxl: var(--scheme-unit-32);
  --scheme-stroke-0: var(--scheme-unit-0-1);
  --scheme-stroke-1: var(--scheme-unit-1);
  --scheme-stroke-4: var(--scheme-unit-2);
  --scheme-stroke-5: var(--scheme-unit-3);
  --scheme-stroke-6: var(--scheme-unit-4);
  --scheme-stroke-7: var(--scheme-unit-5);
  --scheme-stroke-2(icons): var(--scheme-unit-1-1);
  --scheme-stroke-3(iconml): var(--scheme-unit-1-2);
}
