:root {
  --font-title-title28-fontsize: 28px;
  --font-title-title28-textdecoration: none;
  --font-title-title28-fontfamily: Wanted Sans Variable;
  --font-title-title28-fontweight: 400;
  --font-title-title28-fontstyle: normal;
  --font-title-title28-fontstretch: normal;
  --font-title-title28-letterspacing: 0px;
  --font-title-title28-lineheight: 20px;
  --font-title-title28-paragraphindent: 0px;
  --font-title-title28-paragraphspacing: 0px;
  --font-title-title28-textcase: none;
  --font-title-title20-fontsize: 20px;
  --font-title-title20-textdecoration: none;
  --font-title-title20-fontfamily: Wanted Sans Variable;
  --font-title-title20-fontweight: 700;
  --font-title-title20-fontstyle: normal;
  --font-title-title20-fontstretch: normal;
  --font-title-title20-letterspacing: 0px;
  --font-title-title20-lineheight: 20px;
  --font-title-title20-paragraphindent: 0px;
  --font-title-title20-paragraphspacing: 0px;
  --font-title-title20-textcase: none;
  --font-title-title18-fontsize: 18px;
  --font-title-title18-textdecoration: none;
  --font-title-title18-fontfamily: Wanted Sans Variable;
  --font-title-title18-fontweight: 700;
  --font-title-title18-fontstyle: normal;
  --font-title-title18-fontstretch: normal;
  --font-title-title18-letterspacing: 0px;
  --font-title-title18-lineheight: 22px;
  --font-title-title18-paragraphindent: 0px;
  --font-title-title18-paragraphspacing: 0px;
  --font-title-title18-textcase: none;
  --font-title-title16-fontsize: 16px;
  --font-title-title16-textdecoration: none;
  --font-title-title16-fontfamily: Wanted Sans Variable;
  --font-title-title16-fontweight: 700;
  --font-title-title16-fontstyle: normal;
  --font-title-title16-fontstretch: normal;
  --font-title-title16-letterspacing: 0px;
  --font-title-title16-lineheight: 22px;
  --font-title-title16-paragraphindent: 0px;
  --font-title-title16-paragraphspacing: 0px;
  --font-title-title16-textcase: none;
  --font-title-title14-fontsize: 14px;
  --font-title-title14-textdecoration: none;
  --font-title-title14-fontfamily: Wanted Sans Variable;
  --font-title-title14-fontweight: 700;
  --font-title-title14-fontstyle: normal;
  --font-title-title14-fontstretch: normal;
  --font-title-title14-letterspacing: 0px;
  --font-title-title14-lineheight: 20px;
  --font-title-title14-paragraphindent: 0px;
  --font-title-title14-paragraphspacing: 0px;
  --font-title-title14-textcase: none;
  --font-title-shinhantitle1-fontsize: 20px;
  --font-title-shinhantitle1-textdecoration: none;
  --font-title-shinhantitle1-fontfamily: OneShinhan;
  --font-title-shinhantitle1-fontweight: 700;
  --font-title-shinhantitle1-fontstyle: normal;
  --font-title-shinhantitle1-fontstretch: normal;
  --font-title-shinhantitle1-letterspacing: 0px;
  --font-title-shinhantitle1-lineheight: 20px;
  --font-title-shinhantitle1-paragraphindent: 0px;
  --font-title-shinhantitle1-paragraphspacing: 0px;
  --font-title-shinhantitle1-textcase: none;
  --font-title-shinhantitle2-fontsize: 18px;
  --font-title-shinhantitle2-textdecoration: none;
  --font-title-shinhantitle2-fontfamily: OneShinhan;
  --font-title-shinhantitle2-fontweight: 700;
  --font-title-shinhantitle2-fontstyle: normal;
  --font-title-shinhantitle2-fontstretch: normal;
  --font-title-shinhantitle2-letterspacing: 0px;
  --font-title-shinhantitle2-lineheight: 22px;
  --font-title-shinhantitle2-paragraphindent: 0px;
  --font-title-shinhantitle2-paragraphspacing: 0px;
  --font-title-shinhantitle2-textcase: none;
  --font-body-body1-fontsize: 24px;
  --font-body-body1-textdecoration: none;
  --font-body-body1-fontfamily: Wanted Sans Variable;
  --font-body-body1-fontweight: 400;
  --font-body-body1-fontstyle: normal;
  --font-body-body1-fontstretch: normal;
  --font-body-body1-letterspacing: 0px;
  --font-body-body1-lineheight: 29px;
  --font-body-body1-paragraphindent: 0px;
  --font-body-body1-paragraphspacing: 0px;
  --font-body-body1-textcase: none;
  --font-body-body2-fontsize: 20px;
  --font-body-body2-textdecoration: none;
  --font-body-body2-fontfamily: Wanted Sans Variable;
  --font-body-body2-fontweight: 400;
  --font-body-body2-fontstyle: normal;
  --font-body-body2-fontstretch: normal;
  --font-body-body2-letterspacing: 0px;
  --font-body-body2-lineheight: 24px;
  --font-body-body2-paragraphindent: 0px;
  --font-body-body2-paragraphspacing: 0px;
  --font-body-body2-textcase: none;
  --font-body-body3-fontsize: 18px;
  --font-body-body3-textdecoration: none;
  --font-body-body3-fontfamily: Wanted Sans Variable;
  --font-body-body3-fontweight: 700;
  --font-body-body3-fontstyle: normal;
  --font-body-body3-fontstretch: normal;
  --font-body-body3-letterspacing: 0px;
  --font-body-body3-lineheight: 22px;
  --font-body-body3-paragraphindent: 0px;
  --font-body-body3-paragraphspacing: 0px;
  --font-body-body3-textcase: none;
  --font-body-body4-fontsize: 18px;
  --font-body-body4-textdecoration: none;
  --font-body-body4-fontfamily: Wanted Sans Variable;
  --font-body-body4-fontweight: 400;
  --font-body-body4-fontstyle: normal;
  --font-body-body4-fontstretch: normal;
  --font-body-body4-letterspacing: 0px;
  --font-body-body4-lineheight: 24px;
  --font-body-body4-paragraphindent: 0px;
  --font-body-body4-paragraphspacing: 0px;
  --font-body-body4-textcase: none;
  --font-body-body5-fontsize: 16px;
  --font-body-body5-textdecoration: none;
  --font-body-body5-fontfamily: Wanted Sans Variable;
  --font-body-body5-fontweight: 600;
  --font-body-body5-fontstyle: normal;
  --font-body-body5-fontstretch: normal;
  --font-body-body5-letterspacing: 0px;
  --font-body-body5-lineheight: 22px;
  --font-body-body5-paragraphindent: 0px;
  --font-body-body5-paragraphspacing: 0px;
  --font-body-body5-textcase: none;
  --font-body-body6-fontsize: 16px;
  --font-body-body6-textdecoration: none;
  --font-body-body6-fontfamily: Wanted Sans Variable;
  --font-body-body6-fontweight: 400;
  --font-body-body6-fontstyle: normal;
  --font-body-body6-fontstretch: normal;
  --font-body-body6-letterspacing: 0px;
  --font-body-body6-lineheight: 22px;
  --font-body-body6-paragraphindent: 0px;
  --font-body-body6-paragraphspacing: 0px;
  --font-body-body6-textcase: none;
  --font-body-body7-fontsize: 14px;
  --font-body-body7-textdecoration: none;
  --font-body-body7-fontfamily: Wanted Sans Variable;
  --font-body-body7-fontweight: 600;
  --font-body-body7-fontstyle: normal;
  --font-body-body7-fontstretch: normal;
  --font-body-body7-letterspacing: 0px;
  --font-body-body7-lineheight: 20px;
  --font-body-body7-paragraphindent: 0px;
  --font-body-body7-paragraphspacing: 0px;
  --font-body-body7-textcase: none;
  --font-body-body8-fontsize: 14px;
  --font-body-body8-textdecoration: none;
  --font-body-body8-fontfamily: Wanted Sans Variable;
  --font-body-body8-fontweight: 400;
  --font-body-body8-fontstyle: normal;
  --font-body-body8-fontstretch: normal;
  --font-body-body8-letterspacing: 0px;
  --font-body-body8-lineheight: 20px;
  --font-body-body8-paragraphindent: 0px;
  --font-body-body8-paragraphspacing: 0px;
  --font-body-body8-textcase: none;
  --font-body-body9-fontsize: 12px;
  --font-body-body9-textdecoration: none;
  --font-body-body9-fontfamily: Wanted Sans Variable;
  --font-body-body9-fontweight: 600;
  --font-body-body9-fontstyle: normal;
  --font-body-body9-fontstretch: normal;
  --font-body-body9-letterspacing: 0px;
  --font-body-body9-lineheight: 18px;
  --font-body-body9-paragraphindent: 0px;
  --font-body-body9-paragraphspacing: 0px;
  --font-body-body9-textcase: none;
  --font-body-body10-fontsize: 12px;
  --font-body-body10-textdecoration: none;
  --font-body-body10-fontfamily: Wanted Sans Variable;
  --font-body-body10-fontweight: 400;
  --font-body-body10-fontstyle: normal;
  --font-body-body10-fontstretch: normal;
  --font-body-body10-letterspacing: 0px;
  --font-body-body10-lineheight: 18px;
  --font-body-body10-paragraphindent: 0px;
  --font-body-body10-paragraphspacing: 0px;
  --font-body-body10-textcase: none;
  --font-caption-caption1-fontsize: 10px;
  --font-caption-caption1-textdecoration: none;
  --font-caption-caption1-fontfamily: Wanted Sans Variable;
  --font-caption-caption1-fontweight: 400;
  --font-caption-caption1-fontstyle: normal;
  --font-caption-caption1-fontstretch: normal;
  --font-caption-caption1-letterspacing: 0px;
  --font-caption-caption1-lineheight: 11px;
  --font-caption-caption1-paragraphindent: 0px;
  --font-caption-caption1-paragraphspacing: 0px;
  --font-caption-caption1-textcase: none;
  --font-caption-caption2-fontsize: 14px;
  --font-caption-caption2-textdecoration: none;
  --font-caption-caption2-fontfamily: Wanted Sans Variable;
  --font-caption-caption2-fontweight: 400;
  --font-caption-caption2-fontstyle: normal;
  --font-caption-caption2-fontstretch: normal;
  --font-caption-caption2-letterspacing: 0px;
  --font-caption-caption2-lineheight: 20px;
  --font-caption-caption2-paragraphindent: 0px;
  --font-caption-caption2-paragraphspacing: 0px;
  --font-caption-caption2-textcase: none;
  --font-caption-caption3-fontsize: 12px;
  --font-caption-caption3-textdecoration: none;
  --font-caption-caption3-fontfamily: Wanted Sans Variable;
  --font-caption-caption3-fontweight: 600;
  --font-caption-caption3-fontstyle: normal;
  --font-caption-caption3-fontstretch: normal;
  --font-caption-caption3-letterspacing: 0px;
  --font-caption-caption3-lineheight: 14px;
  --font-caption-caption3-paragraphindent: 0px;
  --font-caption-caption3-paragraphspacing: 0px;
  --font-caption-caption3-textcase: none;
  --font-caption-caption4-fontsize: 12px;
  --font-caption-caption4-textdecoration: none;
  --font-caption-caption4-fontfamily: Wanted Sans Variable;
  --font-caption-caption4-fontweight: 400;
  --font-caption-caption4-fontstyle: normal;
  --font-caption-caption4-fontstretch: normal;
  --font-caption-caption4-letterspacing: 0px;
  --font-caption-caption4-lineheight: 14px;
  --font-caption-caption4-paragraphindent: 0px;
  --font-caption-caption4-paragraphspacing: 0px;
  --font-caption-caption4-textcase: none;
  --font-caption-caption5-fontsize: 10px;
  --font-caption-caption5-textdecoration: none;
  --font-caption-caption5-fontfamily: Wanted Sans Variable;
  --font-caption-caption5-fontweight: 600;
  --font-caption-caption5-fontstyle: normal;
  --font-caption-caption5-fontstretch: normal;
  --font-caption-caption5-letterspacing: 0px;
  --font-caption-caption5-lineheight: 11px;
  --font-caption-caption5-paragraphindent: 0px;
  --font-caption-caption5-paragraphspacing: 0px;
  --font-caption-caption5-textcase: none;
  --color-greyscale-2: #f2f3f5ff;
  --color-greyscale-3: #eaecf1ff;
  --color-greyscale-4: #e0e3edff;
  --color-greyscale-5: #d5d9e4ff;
  --color-greyscale-6: #cbd0ddff;
  --color-greyscale-7: #aeb5c8ff;
  --color-greyscale-8: #9097acff;
  --color-greyscale-9: #656a7aff;
  --color-greyscale-10: #494d5aff;
  --color-greyscale-11: #2c303dff;
  --color-greyscale-1white: #ffffffff;
  --color-greyscale-12black: #000000ff;
  --color-greyscale-1-1: #f5f7faff;
  --color-primary-light: #2e67ffff;
  --color-primary-shinhanblue: #0046ffff;
  --color-primary-dark: #0d37d6ff;
  --color-primary-secondarylight: #8cd2f5ff;
  --color-primary-secondarysky: #4baff5ff;
  --color-primary-secondaryroyal: #2878f5ff;
  --color-primary-secondarynavy: #00236eff;
  --color-primary-lighter: #e6f2ffff;
  --color-state-red: #ef4444ff;
  --color-state-green: #10b981ff;
  --color-state-yellow: #ffc637ff;
  --color-state-red-dark: #cf3434ff;
  --color-state-green-light: #d1fae5ff;
  --color-state-green-dark: #059669ff;
  --color-state-yellow-light: #ffead3ff;
  --color-state-yellow-dark: #f59e0bff;
  --color-state-red-light: #ffd5d5ff;
  --typography-size-xxs: 10px;
  --typography-size-xs: 12px;
  --typography-size-sm: 14px;
  --typography-size-md: 16px;
  --typography-size-lg: 18px;
  --typography-size-xl: 20px;
  --typography-size-xxl: 24px;
  --typography-size-xxxl: 28px;
  --typography-size-xxxxl: 48px;
  --typography-weight-400: Regular;
  --typography-weight-500: Medium;
  --typography-weight-600: SemiBold;
  --typography-weight-700: Bold;
  --typography-wanted-sans-variable: Wanted Sans Variable;
  --typography-oneshinhan: OneShinhan;
  --typography-spacing-0pct: 0px;
  --typography-spacing--1pct: -0.17px;
  --typography-spacing--2pct: -0.32px;
  --typography-spacing--3pct: -0.49px;
  --typography-spacing--4pct: -0.64px;
  --typography-height-11: 11px;
  --typography-height-14: 14px;
  --typography-height-16: 16px;
  --typography-height-18: 18px;
  --typography-height-20: 20px;
  --typography-height-22: 22px;
  --typography-height-24: 24px;
  --typography-height-29: 29px;
  --typography-height-54: 54px;
  --typography-title-title28-fontsize: 28px;
  --typography-title-title28-textdecoration: none;
  --typography-title-title28-fontfamily: Wanted Sans Variable;
  --typography-title-title28-fontweight: 400;
  --typography-title-title28-fontstyle: normal;
  --typography-title-title28-fontstretch: normal;
  --typography-title-title28-letterspacing: 0px;
  --typography-title-title28-lineheight: 20px;
  --typography-title-title28-paragraphindent: 0px;
  --typography-title-title28-paragraphspacing: 0px;
  --typography-title-title28-textcase: none;
  --typography-title-title20-fontsize: 20px;
  --typography-title-title20-textdecoration: none;
  --typography-title-title20-fontfamily: Wanted Sans Variable;
  --typography-title-title20-fontweight: 700;
  --typography-title-title20-fontstyle: normal;
  --typography-title-title20-fontstretch: normal;
  --typography-title-title20-letterspacing: 0px;
  --typography-title-title20-lineheight: 20px;
  --typography-title-title20-paragraphindent: 0px;
  --typography-title-title20-paragraphspacing: 0px;
  --typography-title-title20-textcase: none;
  --typography-title-title18-fontsize: 18px;
  --typography-title-title18-textdecoration: none;
  --typography-title-title18-fontfamily: Wanted Sans Variable;
  --typography-title-title18-fontweight: 700;
  --typography-title-title18-fontstyle: normal;
  --typography-title-title18-fontstretch: normal;
  --typography-title-title18-letterspacing: 0px;
  --typography-title-title18-lineheight: 22px;
  --typography-title-title18-paragraphindent: 0px;
  --typography-title-title18-paragraphspacing: 0px;
  --typography-title-title18-textcase: none;
  --typography-title-title16-fontsize: 16px;
  --typography-title-title16-textdecoration: none;
  --typography-title-title16-fontfamily: Wanted Sans Variable;
  --typography-title-title16-fontweight: 700;
  --typography-title-title16-fontstyle: normal;
  --typography-title-title16-fontstretch: normal;
  --typography-title-title16-letterspacing: 0px;
  --typography-title-title16-lineheight: 22px;
  --typography-title-title16-paragraphindent: 0px;
  --typography-title-title16-paragraphspacing: 0px;
  --typography-title-title16-textcase: none;
  --typography-title-title14-fontsize: 14px;
  --typography-title-title14-textdecoration: none;
  --typography-title-title14-fontfamily: Wanted Sans Variable;
  --typography-title-title14-fontweight: 700;
  --typography-title-title14-fontstyle: normal;
  --typography-title-title14-fontstretch: normal;
  --typography-title-title14-letterspacing: 0px;
  --typography-title-title14-lineheight: 20px;
  --typography-title-title14-paragraphindent: 0px;
  --typography-title-title14-paragraphspacing: 0px;
  --typography-title-title14-textcase: none;
  --typography-title-shinhantitle1-fontsize: 20px;
  --typography-title-shinhantitle1-textdecoration: none;
  --typography-title-shinhantitle1-fontfamily: OneShinhan;
  --typography-title-shinhantitle1-fontweight: 700;
  --typography-title-shinhantitle1-fontstyle: normal;
  --typography-title-shinhantitle1-fontstretch: normal;
  --typography-title-shinhantitle1-letterspacing: 0px;
  --typography-title-shinhantitle1-lineheight: 20px;
  --typography-title-shinhantitle1-paragraphindent: 0px;
  --typography-title-shinhantitle1-paragraphspacing: 0px;
  --typography-title-shinhantitle1-textcase: none;
  --typography-title-shinhantitle2-fontsize: 18px;
  --typography-title-shinhantitle2-textdecoration: none;
  --typography-title-shinhantitle2-fontfamily: OneShinhan;
  --typography-title-shinhantitle2-fontweight: 700;
  --typography-title-shinhantitle2-fontstyle: normal;
  --typography-title-shinhantitle2-fontstretch: normal;
  --typography-title-shinhantitle2-letterspacing: 0px;
  --typography-title-shinhantitle2-lineheight: 22px;
  --typography-title-shinhantitle2-paragraphindent: 0px;
  --typography-title-shinhantitle2-paragraphspacing: 0px;
  --typography-title-shinhantitle2-textcase: none;
  --typography-body-body1-fontsize: 24px;
  --typography-body-body1-textdecoration: none;
  --typography-body-body1-fontfamily: Wanted Sans Variable;
  --typography-body-body1-fontweight: 400;
  --typography-body-body1-fontstyle: normal;
  --typography-body-body1-fontstretch: normal;
  --typography-body-body1-letterspacing: 0px;
  --typography-body-body1-lineheight: 29px;
  --typography-body-body1-paragraphindent: 0px;
  --typography-body-body1-paragraphspacing: 0px;
  --typography-body-body1-textcase: none;
  --typography-body-body2-fontsize: 20px;
  --typography-body-body2-textdecoration: none;
  --typography-body-body2-fontfamily: Wanted Sans Variable;
  --typography-body-body2-fontweight: 400;
  --typography-body-body2-fontstyle: normal;
  --typography-body-body2-fontstretch: normal;
  --typography-body-body2-letterspacing: 0px;
  --typography-body-body2-lineheight: 24px;
  --typography-body-body2-paragraphindent: 0px;
  --typography-body-body2-paragraphspacing: 0px;
  --typography-body-body2-textcase: none;
  --typography-body-body3-fontsize: 18px;
  --typography-body-body3-textdecoration: none;
  --typography-body-body3-fontfamily: Wanted Sans Variable;
  --typography-body-body3-fontweight: 700;
  --typography-body-body3-fontstyle: normal;
  --typography-body-body3-fontstretch: normal;
  --typography-body-body3-letterspacing: 0px;
  --typography-body-body3-lineheight: 22px;
  --typography-body-body3-paragraphindent: 0px;
  --typography-body-body3-paragraphspacing: 0px;
  --typography-body-body3-textcase: none;
  --typography-body-body4-fontsize: 18px;
  --typography-body-body4-textdecoration: none;
  --typography-body-body4-fontfamily: Wanted Sans Variable;
  --typography-body-body4-fontweight: 400;
  --typography-body-body4-fontstyle: normal;
  --typography-body-body4-fontstretch: normal;
  --typography-body-body4-letterspacing: 0px;
  --typography-body-body4-lineheight: 24px;
  --typography-body-body4-paragraphindent: 0px;
  --typography-body-body4-paragraphspacing: 0px;
  --typography-body-body4-textcase: none;
  --typography-body-body5-fontsize: 16px;
  --typography-body-body5-textdecoration: none;
  --typography-body-body5-fontfamily: Wanted Sans Variable;
  --typography-body-body5-fontweight: 600;
  --typography-body-body5-fontstyle: normal;
  --typography-body-body5-fontstretch: normal;
  --typography-body-body5-letterspacing: 0px;
  --typography-body-body5-lineheight: 22px;
  --typography-body-body5-paragraphindent: 0px;
  --typography-body-body5-paragraphspacing: 0px;
  --typography-body-body5-textcase: none;
  --typography-body-body6-fontsize: 16px;
  --typography-body-body6-textdecoration: none;
  --typography-body-body6-fontfamily: Wanted Sans Variable;
  --typography-body-body6-fontweight: 400;
  --typography-body-body6-fontstyle: normal;
  --typography-body-body6-fontstretch: normal;
  --typography-body-body6-letterspacing: 0px;
  --typography-body-body6-lineheight: 22px;
  --typography-body-body6-paragraphindent: 0px;
  --typography-body-body6-paragraphspacing: 0px;
  --typography-body-body6-textcase: none;
  --typography-body-body7-fontsize: 14px;
  --typography-body-body7-textdecoration: none;
  --typography-body-body7-fontfamily: Wanted Sans Variable;
  --typography-body-body7-fontweight: 600;
  --typography-body-body7-fontstyle: normal;
  --typography-body-body7-fontstretch: normal;
  --typography-body-body7-letterspacing: 0px;
  --typography-body-body7-lineheight: 20px;
  --typography-body-body7-paragraphindent: 0px;
  --typography-body-body7-paragraphspacing: 0px;
  --typography-body-body7-textcase: none;
  --typography-body-body8-fontsize: 14px;
  --typography-body-body8-textdecoration: none;
  --typography-body-body8-fontfamily: Wanted Sans Variable;
  --typography-body-body8-fontweight: 400;
  --typography-body-body8-fontstyle: normal;
  --typography-body-body8-fontstretch: normal;
  --typography-body-body8-letterspacing: 0px;
  --typography-body-body8-lineheight: 20px;
  --typography-body-body8-paragraphindent: 0px;
  --typography-body-body8-paragraphspacing: 0px;
  --typography-body-body8-textcase: none;
  --typography-body-body9-fontsize: 12px;
  --typography-body-body9-textdecoration: none;
  --typography-body-body9-fontfamily: Wanted Sans Variable;
  --typography-body-body9-fontweight: 600;
  --typography-body-body9-fontstyle: normal;
  --typography-body-body9-fontstretch: normal;
  --typography-body-body9-letterspacing: 0px;
  --typography-body-body9-lineheight: 18px;
  --typography-body-body9-paragraphindent: 0px;
  --typography-body-body9-paragraphspacing: 0px;
  --typography-body-body9-textcase: none;
  --typography-body-body10-fontsize: 12px;
  --typography-body-body10-textdecoration: none;
  --typography-body-body10-fontfamily: Wanted Sans Variable;
  --typography-body-body10-fontweight: 400;
  --typography-body-body10-fontstyle: normal;
  --typography-body-body10-fontstretch: normal;
  --typography-body-body10-letterspacing: 0px;
  --typography-body-body10-lineheight: 18px;
  --typography-body-body10-paragraphindent: 0px;
  --typography-body-body10-paragraphspacing: 0px;
  --typography-body-body10-textcase: none;
  --typography-caption-caption1-fontsize: 10px;
  --typography-caption-caption1-textdecoration: none;
  --typography-caption-caption1-fontfamily: Wanted Sans Variable;
  --typography-caption-caption1-fontweight: 400;
  --typography-caption-caption1-fontstyle: normal;
  --typography-caption-caption1-fontstretch: normal;
  --typography-caption-caption1-letterspacing: 0px;
  --typography-caption-caption1-lineheight: 11px;
  --typography-caption-caption1-paragraphindent: 0px;
  --typography-caption-caption1-paragraphspacing: 0px;
  --typography-caption-caption1-textcase: none;
  --typography-caption-caption2-fontsize: 14px;
  --typography-caption-caption2-textdecoration: none;
  --typography-caption-caption2-fontfamily: Wanted Sans Variable;
  --typography-caption-caption2-fontweight: 400;
  --typography-caption-caption2-fontstyle: normal;
  --typography-caption-caption2-fontstretch: normal;
  --typography-caption-caption2-letterspacing: 0px;
  --typography-caption-caption2-lineheight: 20px;
  --typography-caption-caption2-paragraphindent: 0px;
  --typography-caption-caption2-paragraphspacing: 0px;
  --typography-caption-caption2-textcase: none;
  --typography-caption-caption3-fontsize: 12px;
  --typography-caption-caption3-textdecoration: none;
  --typography-caption-caption3-fontfamily: Wanted Sans Variable;
  --typography-caption-caption3-fontweight: 600;
  --typography-caption-caption3-fontstyle: normal;
  --typography-caption-caption3-fontstretch: normal;
  --typography-caption-caption3-letterspacing: 0px;
  --typography-caption-caption3-lineheight: 14px;
  --typography-caption-caption3-paragraphindent: 0px;
  --typography-caption-caption3-paragraphspacing: 0px;
  --typography-caption-caption3-textcase: none;
  --typography-caption-caption4-fontsize: 12px;
  --typography-caption-caption4-textdecoration: none;
  --typography-caption-caption4-fontfamily: Wanted Sans Variable;
  --typography-caption-caption4-fontweight: 400;
  --typography-caption-caption4-fontstyle: normal;
  --typography-caption-caption4-fontstretch: normal;
  --typography-caption-caption4-letterspacing: 0px;
  --typography-caption-caption4-lineheight: 14px;
  --typography-caption-caption4-paragraphindent: 0px;
  --typography-caption-caption4-paragraphspacing: 0px;
  --typography-caption-caption4-textcase: none;
  --typography-caption-caption5-fontsize: 10px;
  --typography-caption-caption5-textdecoration: none;
  --typography-caption-caption5-fontfamily: Wanted Sans Variable;
  --typography-caption-caption5-fontweight: 600;
  --typography-caption-caption5-fontstyle: normal;
  --typography-caption-caption5-fontstretch: normal;
  --typography-caption-caption5-letterspacing: 0px;
  --typography-caption-caption5-lineheight: 11px;
  --typography-caption-caption5-paragraphindent: 0px;
  --typography-caption-caption5-paragraphspacing: 0px;
  --typography-caption-caption5-textcase: none;
  --scheme-opacity-30: 30px;
  --scheme-opacity-50: 50px;
  --scheme-opacity-100: 100px;
  --scheme-unit-0: 0px;
  --scheme-unit-1: 1px;
  --scheme-unit-2: 2px;
  --scheme-unit-3: 3px;
  --scheme-unit-4: 4px;
  --scheme-unit-5: 5px;
  --scheme-unit-6: 6px;
  --scheme-unit-7: 7px;
  --scheme-unit-8: 8px;
  --scheme-unit-9: 9px;
  --scheme-unit-10: 10px;
  --scheme-unit-12: 12px;
  --scheme-unit-14: 14px;
  --scheme-unit-16: 16px;
  --scheme-unit-18: 18px;
  --scheme-unit-20: 20px;
  --scheme-unit-24: 24px;
  --scheme-unit-28: 28px;
  --scheme-unit-32: 32px;
  --scheme-unit-40: 40px;
  --scheme-unit-48: 48px;
  --scheme-unit--5: -5px;
  --scheme-unit--4: -4px;
  --scheme-unit--3: -3px;
  --scheme-unit--2: -2px;
  --scheme-unit--1: -1px;
  --scheme-unit-0-1: 0.5px;
  --scheme-unit-1-1: 1.2px;
  --scheme-unit-1-2: 1.5px;
  --scheme-spacing-1: var(--scheme-unit-0);
  --scheme-spacing-2: var(--scheme-unit-1);
  --scheme-spacing-3: var(--scheme-unit-2);
  --scheme-spacing-4: var(--scheme-unit-3);
  --scheme-spacing-5: var(--scheme-unit-4);
  --scheme-spacing-6: var(--scheme-unit-5);
  --scheme-spacing-7: var(--scheme-unit-6);
  --scheme-spacing-8: var(--scheme-unit-8);
  --scheme-spacing-9: var(--scheme-unit-9);
  --scheme-spacing-10: var(--scheme-unit-10);
  --scheme-spacing-11: var(--scheme-unit-12);
  --scheme-spacing-12: var(--scheme-unit-14);
  --scheme-spacing-13: var(--scheme-unit-16);
  --scheme-spacing-14: var(--scheme-unit-18);
  --scheme-spacing-15: var(--scheme-unit-20);
  --scheme-spacing-16: var(--scheme-unit-24);
  --scheme-spacing-17: var(--scheme-unit-28);
  --scheme-spacing-18: var(--scheme-unit-32);
  --scheme-spacing-19: var(--scheme-unit-40);
  --scheme-spacing-20: var(--scheme-unit-48);
  --scheme-radius-1: var(--scheme-unit-0);
  --scheme-radius-2: var(--scheme-unit-2);
  --scheme-radius-3: var(--scheme-unit-4);
  --scheme-radius-4: var(--scheme-unit-6);
  --scheme-radius-5: var(--scheme-unit-8);
  --scheme-radius-6: var(--scheme-unit-12);
  --scheme-radius-7: var(--scheme-unit-16);
  --scheme-radius-8: var(--scheme-unit-24);
  --scheme-radius-max: 9999px;
  --scheme-margin-xxs: var(--scheme-unit-4);
  --scheme-margin-xs: var(--scheme-unit-8);
  --scheme-margin-sm: var(--scheme-unit-12);
  --scheme-margin-md: var(--scheme-unit-16);
  --scheme-margin-lg: var(--scheme-unit-20);
  --scheme-margin-xl: var(--scheme-unit-24);
  --scheme-margin-xxl: var(--scheme-unit-28);
  --scheme-margin-xxxl: var(--scheme-unit-32);
  --scheme-stroke-0: var(--scheme-unit-0-1);
  --scheme-stroke-1: var(--scheme-unit-1);
  --scheme-stroke-4: var(--scheme-unit-2);
  --scheme-stroke-5: var(--scheme-unit-3);
  --scheme-stroke-6: var(--scheme-unit-4);
  --scheme-stroke-7: var(--scheme-unit-5);
  --scheme-stroke-2icons: var(--scheme-unit-1-1);
  --scheme-stroke-3iconml: var(--scheme-unit-1-2);
}

@theme {
  --color-grey-2: var(--color-greyscale-2);
  --color-grey-3: var(--color-greyscale-3);
  --color-grey-4: var(--color-greyscale-4);
  --color-grey-5: var(--color-greyscale-5);
  --color-grey-6: var(--color-greyscale-6);
  --color-grey-7: var(--color-greyscale-7);
  --color-grey-8: var(--color-greyscale-8);
  --color-grey-9: var(--color-greyscale-9);
  --color-grey-10: var(--color-greyscale-10);
  --color-grey-11: var(--color-greyscale-11);
  --color-white: var(--color-greyscale-1white);
  --color-black: var(--color-greyscale-12black);
  --color-grey-1-1: var(--color-greyscale-1-1);
  --color-primary-light: var(--color-primary-light);
  --color-primary-shinhanblue: var(--color-primary-shinhanblue);
  --color-primary-dark: var(--color-primary-dark);
  --color-primary-secondarylight: var(--color-primary-secondarylight);
  --color-primary-secondarysky: var(--color-primary-secondarysky);
  --color-primary-secondaryroyal: var(--color-primary-secondaryroyal);
  --color-primary-secondarynavy: var(--color-primary-secondarynavy);
  --color-primary-lighter: var(--color-primary-lighter);
  --color-state-red: var(--color-state-red);
  --color-state-green: var(--color-state-green);
  --color-state-yellow: var(--color-state-yellow);
  --color-state-red-dark: var(--color-state-red-dark);
  --color-state-green-light: var(--color-state-green-light);
  --color-state-green-dark: var(--color-state-green-dark);
  --color-state-yellow-light: var(--color-state-yellow-light);
  --color-state-yellow-dark: var(--color-state-yellow-dark);
  --color-state-red-light: var(--color-state-red-light);
}

@utility title-28 {
  font-family: Wanted Sans Variable;
  font-size: 28px;
  font-weight: 400;
  line-height: 20px;
}

@utility title-20 {
  font-family: Wanted Sans Variable;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}

@utility title-18 {
  font-family: Wanted Sans Variable;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

@utility title-16 {
  font-family: Wanted Sans Variable;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}

@utility title-14 {
  font-family: Wanted Sans Variable;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

@utility shinhan-title-1 {
  font-family: OneShinhan;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}

@utility shinhan-title-2 {
  font-family: OneShinhan;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

@utility body-1 {
  font-family: Wanted Sans Variable;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
}

@utility body-2 {
  font-family: Wanted Sans Variable;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

@utility body-3 {
  font-family: Wanted Sans Variable;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

@utility body-4 {
  font-family: Wanted Sans Variable;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

@utility body-5 {
  font-family: Wanted Sans Variable;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}

@utility body-6 {
  font-family: Wanted Sans Variable;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

@utility body-7 {
  font-family: Wanted Sans Variable;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

@utility body-8 {
  font-family: Wanted Sans Variable;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

@utility body-9 {
  font-family: Wanted Sans Variable;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
}

@utility body-10 {
  font-family: Wanted Sans Variable;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

@utility font-caption-caption1 {
  font-family: Wanted Sans Variable;
  font-size: 10px;
  font-weight: 400;
  line-height: 11px;
}

@utility font-caption-caption2 {
  font-family: Wanted Sans Variable;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

@utility font-caption-caption3 {
  font-family: Wanted Sans Variable;
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
}

@utility font-caption-caption4 {
  font-family: Wanted Sans Variable;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}

@utility font-caption-caption5 {
  font-family: Wanted Sans Variable;
  font-size: 10px;
  font-weight: 600;
  line-height: 11px;
}